name: 'build-and-publish'

on:
  push:
    tags:
      - 'v*'

# This workflow will trigger on v* tagged pushes on any branch (though there should never be v* tagged pushes on anything other than main) 
# to create or update a GitHub release, build the app, and upload the artifacts to the release. This file is basically copied from the tauri-action repository.

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'ubuntu-22.04'
            args: ''
          # This project doesn't need to build for mac or windows, though Tauri is technically able to 
          # - platform: 'macos-latest' # for Arm based macs (M1 and above).
          #   args: '--target aarch64-apple-darwin'
          # - platform: 'macos-latest' # for Intel based macs.
          #   args: '--target x86_64-apple-darwin'
          # - platform: 'windows-latest'
          #   args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-tauri

      - name: Sync version from tag
        run: bun run sync-version

      - uses: tauri-apps/tauri-action@v0.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
          releaseName: 'Pipemeeter v__VERSION__'
          releaseBody: 'See the assets to download this version and install. Auto-generated release notes: '
          generateReleaseNotes: true
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}