name: 'build-and-publish'

on:
  push:
    tags:
      - 'v*'

# This workflow will trigger on v* tagged pushes on any branch (though there should never be v* tagged pushes on anything other than main) 
# to create or update a GitHub release, build the app, and upload the artifacts to the release. This file is basically copied from the tauri-action repository.

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'ubuntu-22.04'
            args: ''
          # This project doesn't need to build for mac or windows, though Tauri is technically able to 
          # - platform: 'macos-latest' # for Arm based macs (M1 and above).
          #   args: '--target aarch64-apple-darwin'
          # - platform: 'macos-latest' # for Intel based macs.
          #   args: '--target x86_64-apple-darwin'
          # - platform: 'windows-latest'
          #   args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' 
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libpipe

      - name: install frontend dependencies
        run: bun install

      - uses: tauri-apps/tauri-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: pipemeeter-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
          releaseName: 'Pipemeeter v__VERSION__'
          releaseBody: 'See the assets to download this version and install. Auto-generated release notes: '
          generateReleaseNotes: true
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}